.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

p {
  font-size: 24px;
  text-align: center;
}

.button {
  background-color: #efefef;
  border-radius: 24px;
  padding: 24px 48px;
  margin: 24px 0 0 0;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #acacac;
}
